#container {
	width: 800px;
	margin: 0 auto;
	height: 250px;
}

.tabs {
  	margin: 0;
  	padding: 0;
  	list-style: none;
  	overflow: hidden;
  	border-bottom: 1px solid black;
}

.tabs li {
	float: left;
	border: 1px solid black;
	border-bottom: none;
	background-color: #a09d9d;
}

.tabs li a {
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	color: black;
	text-decoration: none;
}

.tabs li a:hover {
    background: lightblue;
}

.tabs li.active,
.tabs li.active a:hover {
    font-weight: bold;
    background-color: white;
}

#content {
	width: 800px;
	height: 100px;
  	border: 1px solid black;
  	border-top: none;
}

.tabContent {
    padding: 20px;
    font-size: 16px;
}
